.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  color: blue;
}

.formField {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  font-size: 16px;
  color: black;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
